src/main/resources/workers.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="testResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="users">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:int" name="id"/>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="lastName"/>
                                        <xs:element type="xs:string" name="login"/>
                                        <xs:element type="xs:string" name="email"/>
                                        <xs:element type="xs:string" name="jabber"/>
                                        <xs:element type="xs:string" name="role"/>
                                        <xs:element type="xs:string" name="status"/>
                                        <xs:element type="xs:byte" name="isActivated"/>
                                        <xs:element name="notify">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="byEmail"/>
                                                    <xs:element type="xs:byte" name="byJabber"/>
                                                    <xs:element type="xs:byte" name="byPlanfix"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="birthdate"/>
                                        <xs:element type="xs:string" name="sex"/>
                                        <xs:element type="xs:byte" name="coeff"/>
                                        <xs:element type="xs:string" name="timezone"/>
                                        <xs:element type="xs:byte" name="useDst"/>
                                        <xs:element type="xs:byte" name="isInvisibleOutOfGroup"/>
                                        <xs:element type="xs:byte" name="isBlindOutOfGroup"/>
                                        <xs:element name="post">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:byte" name="id"/>
                                                    <xs:element type="xs:string" name="name"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="userPic"/>
                                        <xs:element type="xs:byte" name="isOnline"/>
                                        <xs:element name="userGroups">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="userGroup" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:int" name="id"/>
                                                                <xs:element type="xs:string" name="name"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="phones">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="phone" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:long" name="number"/>
                                                                <xs:element type="xs:byte" name="typeId"/>
                                                                <xs:element type="xs:string" name="typeName"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="totalCount"/>
                        <xs:attribute type="xs:byte" name="count"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="status"/>
        </xs:complexType>
    </xs:element>
</xs:schema>